<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--<add key="ApiUrl" value="https://apigtw-ver2.azure-api.net/mobile/v1/" />
    <add key="SignCertificate" value=".publtlhex.der.cer" />
    <add key="SignCertificatePassword" value="gabnicpwd1230" />-->
    <add key="ApiUrl" value="https://ofix-to-gtw-locked.azure-api.net/mobile/v1/" />
    <add key="SignCertificate" value=".CertificateWithPrivateKey.pfx" />
    <add key="SignCertificatePassword" value="1Password" />
    <add key="LogLevel" value="1" />
	  <!--value 0=Verbose -->
	  <!--value 1=Debug -->
	  <!--value 2=Info -->
	  <!--value 3=Warn -->
	  <!--value 4=Error -->
	  <!--value 5=Assert -->
	  <!--value 6=None -->

	  <add key="AppLoggerAndroidId" value="34d572b0-6fd4-40aa-96e7-91b96b3d185c" />
	  <add key="AppLoggerIosId" value="890cd427-6e44-4db7-bdb4-ef1d3448e01c" />
	  <add key="SupportUrlAnonymous" value="https://appversite.tlhex.com/help/myhexplan23/{0}/help_app_anonymous.html" />
	  <add key="SupportUrlNormal" value="https://appversite.tlhex.com/help/myhexplan23/{0}/help_app_normal.html" />
	  <add key="ReschedulingRangeDays" value="2" />
	  <add key="IsLanguageSelectionEnabled" value="1" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.ComponentModel.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.6.0.0" newVersion="4.6.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>